@use 'variables' as var;

@mixin border-radius-min {
    border-radius: 3px;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin highlight {
    background-color: var.$bg-highlight;
    color: var.$font-secondary;
}
