$blue-nights: #353b48;
$electro-magnetic: #2f3640;

$blueberry-soda: #7f8fa6;
$chain-gang-gray: #718093;

$hint-of-pensive: #dcdde1;
$lynx-white: #f5f6fa;

$harley-davidson-orange: #c23616;

$bg-primary: $lynx-white;
$bg-secondary: $electro-magnetic;

$font-primary: $blue-nights;
$font-secondary: $lynx-white;

$bg-highlight: $harley-davidson-orange;
