@use 'style/variables' as var;
@use 'style/mixins' as mix;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var.$bg-primary;
    color: var.$font-primary;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: var.$bg-primary;
    width: 100wv;

    .header-content {
        display: flex;
        justify-content: space-between;

        .gbn-logo {
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-shrink: 0;
            padding: 10px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .contact {
            @include mix.flex-center;
            font-size: 1.5rem;
            gap: 4rem;
            flex-grow: 1;
            flex-wrap: wrap;
        }
    }

    nav {
        background: var.$bg-secondary;
        gap: 1rem;

        .wrapper {
            display: flex;
        }

        a {
            @include mix.border-radius-min;
            display: block;
            text-decoration: none;
            font-size: 1rem;
            color: var.$font-secondary;
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {
                background: var.$bg-highlight;
                // box-shadow: 0 0 5px 0 var.$electro-magnetic;
            }
        }
    }
}
