@use 'style/variables' as var;
@use 'style/mixins' as mix;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var.$bg-primary;
    color: var.$font-primary;
    font-family: 'Montserrat', sans-serif;
}

.wrapper-10 {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper-12 {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-19 {
    max-width: 1920px;
    margin: 0 auto;
}

.emp {
    @include mix.highlight-font;
    font-weight: 700;
}

.hide {
    display: none;
}

.fixed-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.email-trigger {
    font-weight: 700;
    border-bottom: 2px solid var.$harley-davidson-orange;

    @media only screen and (max-width: var.$mobile-size) {
        cursor: pointer;
    }
}

@media only screen and (max-width: var.$mobile-size) {
    header.header-down {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        bottom: 0;
        gap: 1rem;
        padding-bottom: 25vh;

        .header-content {
            flex-direction: column;
            justify-content: flex-end;

            .gbn-logo {
                height: 100px;
            }

            .email,
            .mobile > div {
                margin-top: 0.5rem;
            }
        }

        button.close {
            display: block;
            padding: 0.5rem 3rem;
            background-color: inherit;
            border-top: 1px solid var.$bg-secondary;
            border-bottom: 1px solid var.$bg-secondary;
            border-right: unset;
            border-left: unset;
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}

header {
    background: var.$bg-primary;
    width: 100%;
    box-shadow: 0 0 5px 0 var.$bg-secondary;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    button.close {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gbn-logo {
            height: 80px;
            width: auto;
            padding: 8px;

            @media only screen and (max-width: 410px) {
                height: 60px;
            }

            @media only screen and (max-width: 380px) {
                display: none;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.25rem;
            gap: 2rem;
            flex-grow: 1;
            flex-wrap: wrap;
            letter-spacing: 1px;
            padding: 8px;
            white-space: nowrap;

            @media only screen and (max-width: var.$mobile-size) {
                flex-direction: column-reverse;
                gap: 0;
                font-size: 1rem;
            }

            .email {
                border-bottom: 1px solid var.$font-primary;

                &-link {
                    text-decoration: none;
                    color: inherit;
                }

                &:hover {
                    text-shadow: 5px 5px 4px rgba(var.$bg-secondary, 0.85);
                    scale: 105%;
                    transition: all 0.3s ease-in-out;

                    & .icon-at {
                        transform: rotate(-360deg);
                        transition: transform 0.3s ease-in-out;
                    }
                }
            }
        }

        .icon {
            color: var.$harley-davidson-orange;

            &-email {
                transform: translateY(2px);
            }
        }
    }
}

main {
    .welcome {
        background-image: url(./assets/welcome-2.jpg);
        background-position: center;
        background-size: cover;
        padding: 4rem 0 4rem 0;

        @media only screen and (max-width: var.$mobile-size) {
            background: var.$chain-gang-gray;
            padding: 0;
        }

        &-content {
            @include mix.border-radius-min;
            @include mix.box-shadow-middle;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            padding: 2rem 2rem 4rem 2rem;
            background-color: rgba(var.$bg-primary, 0.7);
            backdrop-filter: blur(2px);

            @media only screen and (max-width: var.$mobile-size) {
                padding: 0;
            }
        }

        h1 {
            @include mix.highlight-font;
            text-align: center;
        }

        @media only screen and (max-width: var.$mobile-size) {
            .title-bg {
                background-image: url(./assets/welcome-2.jpg);
                background-position: center;
                background-size: cover;
                padding: 3rem 3rem;
            }

            h1 {
                text-shadow: 0px 0px 10px var.$bg-primary;
                background-color: rgba(var.$bg-primary, 0.7);
                backdrop-filter: blur(2px);
                padding: 1rem 1rem;
            }
        }

        p {
            text-align: justify;
            line-height: 1.5;
            font-weight: 500;

            @media only screen and (max-width: var.$mobile-size) {
                padding: 0 1rem;

                &:last-child {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}

@media (min-width: calc(var.$mobile-size + 1px)) {
    .shake {
        display: inline-block;
        animation-name: shake;
        animation-duration: 2s;
        animation-delay: 0;
        animation-iteration-count: 1;
    }

    .shake-delay {
        display: inline-block;
        animation-name: shake;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
    }

    .roll {
        animation-name: roll;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
}

@keyframes shake {
    from {
        scale: 100%;
        transform: rotate(0);
    }
    12% {
        scale: 110%;
        transform: rotate(10deg);
    }
    25% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    37% {
        scale: 110%;
        transform: rotate(10deg);
    }
    50% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    62% {
        scale: 110%;
        transform: rotate(10deg);
    }
    75% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    87% {
        scale: 110%;
        transform: rotate(10deg);
    }
    to {
        scale: 100%;
        transform: rotate(0);
    }
}

@keyframes roll {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -20px);
    }
    50% {
        transform: translate(-180px, -20px) rotate(-400deg);
    }
    90% {
        transform: translate(0, -20px) rotate(0);
    }
    100% {
        transform: translate(0, 0);
    }
}
