* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$colors: (
    'dark-gray': #2d3436,
    'medium-gray': #636e72,
    'gray': #b2bec3,
    'light-gray': #dfe6e9
);

$blue-nights: #353b48;
$electro-magnetic: #2f3640;

$blueberry-soda: #7f8fa6;
$chain-gang-gray: #718093;

$hint-of-pensive: #dcdde1;
$lynx-white: #f5f6fa;

$bg-primary: $lynx-white;
$bg-secondary: $hint-of-pensive;

$font-primary: $blue-nights;

body {
    background: $bg-primary;
    color: $font-primary;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: $bg-secondary;
    width: 100wv;

    .wrapper {
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .gbn-logo {
        width: 250px;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .header-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .contact {
            font-size: 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 4rem;
            flex-wrap: wrap;
        }

        nav {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            a {
                display: block;
                text-decoration: none;
                font-size: 1.25rem;
                color: $blueberry-soda;
                background: $electro-magnetic;
                padding: 0.5rem 1rem;
                cursor: pointer;
                border-radius: 3px;

                &:hover {
                    background: $blue-nights;
                    box-shadow: 0 0 5px 0 $electro-magnetic;
                    color: white;
                }
            }
        }
    }
}
