@use 'style/variables' as var;
@use 'style/mixins' as mix;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var.$bg-primary;
    color: var.$font-primary;
    font-family: 'Montserrat', sans-serif;
}

.wrapper-10 {
    max-width: 1000px;
    margin: 0 auto;
}

.wrapper-12 {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper-19 {
    max-width: 1920px;
    margin: 0 auto;
}

.emp {
    @include mix.highlight-font;
    font-weight: 700;
}

.hide {
    display: none;
}

.fixed-scroll {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
}

.email-trigger {
    font-weight: 700;
    border-bottom: 2px solid var.$harley-davidson-orange;

    @media only screen and (max-width: var.$mobile-size) {
        cursor: pointer;
    }
}

@media only screen and (max-width: var.$mobile-size) {
    header.header-down {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100vh;
        bottom: 0;
        gap: 1rem;
        padding-bottom: 25vh;

        .header-content {
            flex-direction: column;
            justify-content: flex-end;

            .gbn-logo {
                height: 100px;
            }

            .email,
            .mobile > div {
                margin-top: 0.5rem;
            }
        }

        button.close {
            display: block;
            padding: 0.5rem 3rem;
            background-color: inherit;
            border-top: 1px solid var.$bg-secondary;
            border-bottom: 1px solid var.$bg-secondary;
            border-right: unset;
            border-left: unset;
            cursor: pointer;
            font-size: 1.25rem;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

header {
    background: var.$bg-primary;
    width: 100%;
    box-shadow: 0 0 5px 0 var.$bg-secondary;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    button.close {
        display: none;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .gbn-logo {
            height: 80px;
            width: auto;
            padding: 8px;

            @media only screen and (max-width: 410px) {
                height: 60px;
            }

            @media only screen and (max-width: 380px) {
                display: none;
            }
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            font-size: 1.25rem;
            gap: 2rem;
            flex-grow: 1;
            flex-wrap: wrap;
            letter-spacing: 1px;
            padding: 8px;
            white-space: nowrap;

            @media only screen and (max-width: var.$mobile-size) {
                flex-direction: column-reverse;
                gap: 0;
                font-size: 1rem;
            }

            .email {
                border-bottom: 1px solid var.$font-primary;

                &-link {
                    text-decoration: none;
                    color: inherit;
                }

                &:hover {
                    text-shadow: 5px 5px 4px rgba(var.$bg-secondary, 0.85);
                    scale: 105%;
                    transition: all 0.3s ease-in-out;

                    & .icon-at {
                        transform: rotate(-360deg);
                        transition: transform 0.3s ease-in-out;
                    }
                }
            }
        }

        .icon {
            color: var.$harley-davidson-orange;

            &-email {
                transform: translateY(2px);
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

main {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.welcome {
    .title-bg {
        background-image: url(./assets/welcome-2.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 15vh;
        padding-bottom: 15vh;
        height: 80vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        h1 {
            font-size: 3rem;
            background: rgba(var.$bg-secondary, 0.4);
            color: var.$font-secondary;
            backdrop-filter: blur(2px);
            padding: 0.25rem 1rem;
        }
    }

    @media only screen and (min-width: 2000px) {
        .title-bg {
            justify-content: center;
        }
    }

    @media only screen and (max-width: 1200px) {
        .title-bg {
            h1 {
                font-size: 2.5rem;
            }
        }
    }

    @media only screen and (max-width: 1000px) {
        .title-bg {
            h1 {
                font-size: 2rem;
            }
        }
    }

    @media only screen and (max-width: 800px) {
        .title-bg {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            height: 70vh;
            padding-top: 10vh;
            padding-bottom: 10vh;

            h1 {
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.description {
    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;

        @media only screen and (max-width: var.$mobile-size) {
            padding: 0;
        }
    }

    p {
        text-align: justify;
        line-height: 1.5;
        font-weight: 500;
        padding: 0 1rem;
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.water-sewer {
    padding-bottom: 3rem;

    .title-bg {
        background-image: url(./assets/kerti-csap.jpg);
        background-position: center;
        background-size: cover;
        padding-top: 10vh;
        padding-bottom: 10vh;
        height: 70vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        h2 {
            font-size: 3rem;
            background: rgba(var.$bg-secondary, 0.4);
            color: var.$font-secondary;
            backdrop-filter: blur(2px);
            padding: 0.25rem 1rem;
        }
    }

    .services {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0 1rem;
    }

    .service {
        @include mix.box-shadow-middle;
        @include mix.border-radius-min;
        flex-grow: 1;
        background: var.$bg-primary;
        padding: 1rem;
        flex-basis: calc((100% / 4) - 4rem);

        &:hover {
            scale: 110%;
            transition: scale 0.2s ease-in-out;
            z-index: 1;
        }

        &:nth-child(even) {
            transform: translateY(-8rem);
        }

        &:nth-child(odd) {
            transform: translateY(-5rem);
        }

        h3 {
            margin-bottom: 1rem;
            color: var.$harley-davidson-orange;
        }

        p {
            color: var.$font-primary;
        }
    }

    @media only screen and (max-width: 1000px) {
        .title-bg {
            h2 {
                font-size: 2rem;
            }
        }
        .service {
            flex-basis: calc((100% / 2) - 3rem);

            &:nth-child(-n + 4) {
                transform: translateY(-5rem);
            }
        }
    }

    @media only screen and (max-width: 700px) {
        .title-bg {
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            h2 {
                text-align: center;
            }
        }
    }

    @media only screen and (max-width: 500px) {
        .title-bg {
            background-position: left;
            margin-bottom: 2rem;
        }

        .service {
            flex-basis: 100%;

            &:nth-child(-n + 4) {
                transform: translateY(0);
            }
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

.excavation {
    article {
        display: flex;

        &:nth-child(even) {
            flex-direction: row-reverse;
        }

        &:nth-child(n + 2) {
            // margin-top: 3rem;
        }

        .excavation-image {
            flex-grow: 1;
            flex-basis: 50%;
            // background-color: red;
            background-image: url('./assets/pool-excavation-copy.jpg');
            background-position: center;
            background-size: cover;
        }

        .content {
            flex-basis: 50%;
            flex-grow: 1;
            padding: 5rem 10vw;
            text-align: center;
        }

        h3 {
            font-size: 1.5rem;
            padding-bottom: 2rem;
            color: var.$harley-davidson-orange;
        }

        p {
            line-height: 1.7;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

footer {
    height: 50vh;
}

//////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////

@media (min-width: calc(var.$mobile-size + 1px)) {
    .shake {
        display: inline-block;
        animation-name: shake;
        animation-duration: 2s;
        animation-delay: 0;
        animation-iteration-count: 1;
    }

    .shake-delay {
        display: inline-block;
        animation-name: shake;
        animation-duration: 2s;
        animation-delay: 0.5s;
        animation-iteration-count: 1;
    }

    .roll {
        animation-name: roll;
        animation-iteration-count: 1;
        animation-duration: 2s;
    }
}

@keyframes shake {
    from {
        scale: 100%;
        transform: rotate(0);
    }
    12% {
        scale: 110%;
        transform: rotate(10deg);
    }
    25% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    37% {
        scale: 110%;
        transform: rotate(10deg);
    }
    50% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    62% {
        scale: 110%;
        transform: rotate(10deg);
    }
    75% {
        scale: 110%;
        transform: rotate(-10deg);
    }
    87% {
        scale: 110%;
        transform: rotate(10deg);
    }
    to {
        scale: 100%;
        transform: rotate(0);
    }
}

@keyframes roll {
    0% {
        transform: translate(0, 0);
    }
    10% {
        transform: translate(0, -20px);
    }
    50% {
        transform: translate(-180px, -20px) rotate(-400deg);
    }
    90% {
        transform: translate(0, -20px) rotate(0);
    }
    100% {
        transform: translate(0, 0);
    }
}
